.nav {
    display: flex;
    flex: 1;
    padding: 0.8rem;
    align-items: center;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav span {
    height: 1em;
}

.title {
    font-size: 1.3rem;
    margin-left: 12px;
    color: rgb(30, 55, 48);
}